@charset "utf-8";

#wrap {
	min-width: 1280px;
}
.contentsWrap {
	padding: 20px;
}
#main {
	padding: 20px;
}
#main, #sub {
    position: absolute;
    width: 100%;
    min-width: 1280px;
    min-height: 100%;
    min-height: calc(100% - 96px);
}
.layout #main {
	padding: 0;
}
.layout #main, .layout #sub {
	position: relative;
	min-width: auto;
	min-height: auto;
}

/* popup */
.popup {
    position: absolute;
    width: 100%;
    height: 100%;
}
.popup > strong.title {
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	font-size: 1.3em;
	font-weight: 700;
}
.popup > .btnClose {
	position: absolute;
	right: 10px;
	top: 7px;
	min-width: 30px;
	height: 30px;
	border: none;
	text-indent: -99999px;
}
.popup .box {
	margin-bottom: 0;
}

/* 과제채점관리 팝업 버튼 영역 */
.popup .contentsWrap.mosa {
	padding: 10px 0px 0px 0px;
	background: #ffffff;
}
.popup .contentsWrap.mosa .btnArea {
	padding: 0 10px 10px 0;
	border-bottom: solid 2px #e6e8eb;
}


 /* popupNotice - 알파코 사용자 팝업공지 */
.popupNotice {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #9fc7e3;  
}
.popupNotice h3 {
	position: relative;
	height: 40px;
    line-height: 40px;
    margin: 20px 20px 0;
    padding: 0 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 1.38em; /* 18/13 */
	background: #0057a8;
}
.popupNotice > .btnClose,
.popupNotice > .btnClose:hover {
	position: absolute;
    top: 32px;
    right: 45px;
    min-width: 16px;
	height: 16px;
	padding:0;
    border: none;
    font-size: 0;
	background: url('/images/template2/resp/default/button/popup_btn_close.png') center center no-repeat;
}
.popupNotice .contentsWrap {
	width: 100%;
    height: 90%;
    height: calc(100% - 62px);
    padding: 0;
}
.popupNotice .contentsBox {
	width: 100%;
	min-height: 90%;
    min-height: calc(100% - 25px);
    padding: 25px;
    border: 20px solid #9fc7e3;
    background: #ffffff;
}
.popupNotice .todayClose {
	padding: 5px 10px 5px 10px;
	text-align: right;
	background: #333333;
}
.popupNotice .todayClose label {
	color: #ffffff;
}
.popupLayer {
	overflow-y: auto;
	position: fixed;
	top: 0;
	left: 50%;
	display: table;
	height: 100%;
	z-index: 999;
	max-width: 800px;
	min-width: 300px;
}
.popupLayer img {
	max-width: 100%;
}
.popup.modal > h3 {
	color: #ffffff;
    background: #2f4157;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    font-size: 1.3em;
    font-weight: 700;
}
.popup.modal > h3 > .btnClose {
    background: transparent url(/images/common/mngs/btn_popup_close.png) center center no-repeat;
}
.popup.modal > h3 > .btnClose {
	position: absolute;
	right: 0px;
    height: 45px;
}
.popup .contentsWrap .contentsBox {
	width: 100%;
	padding: 20px;
	min-height: 0;
}
.popup.modal {
	display: table-cell;
	width: 600px;
	vertical-align: middle;
	z-index: 999;
	background: transparent;
	position: relative;
}
.popupLayer .todayClose {
	padding: 0px 20px 10px 20px;
	text-align: right;
	background: #e6e8eb;
}