.modal-header {
  background-color: $darkBlue1;
  color: $white;
  padding: 5px 0 6px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  .btn-close {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    font-size: 24px;
    background: none;
    opacity: 1;
  }
}

.modal-body {
  padding: 30px 30px 0;
}

.modal-content {
  border: 0;
  border-radius: 5px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

.modal-footer {
  position: relative;
  margin-top: 30px;
  padding: 30px 30px 30px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 30px;
    width: calc(100% - 60px);
    height: 1px;
    background-color: $gray4;
  }
}

.modal-footer>* {
  margin: 0;
}

.modal-dialog {
  .popup-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
    text-align: center;
  }
}