/* tab */
.page-tab {
  margin-bottom: 40px;
}

.nav-tabs {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 0;

  .nav-item {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    + .nav-item {
      .nav-link {
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          width: 1px;
          height: 20px;
          background-color: $gray4;
        }
      }
    }
  }

  .nav-link {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    color: $black3;
    border: 0;
    background-color: $white;
    padding: 12.75px 15px;
    font-size: 15px;
    text-align: center;
    border-radius: 0;

    strong {
      font-weight: 400;
      white-space: nowrap;
    }

    &:hover {
      color: $blue1;
      background-color: $white;

      + .nav-item {
        &::before {
          content: none;
        }
      }
    }

    &.active {
      color: $white;
      background-color: $blue1;
      border: 0;

      strong {
        font-weight: 600;
      }

      &::before {
        content: none !important;
      }

      &:hover {
        color: $white;
        background-color: $blue1;
        border: 0;
      }
    }
  }
}

.nav-tabs.tabs.gray-tabs {
  border-bottom: 0;
}

.gray-tabs.nav-tabs .nav-item {
  margin-bottom: 5px;
  position: relative;
}

.gray-tabs.nav-tabs .nav-item {
  position: relative;
}

.gray-tabs.nav-tabs .nav-item::after {
  content: '';
  position: absolute;
  width: calc(100% + 1px);
  height: 2px;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1px;
}

.gray-tabs.nav-tabs {
  margin-bottom: 25px;
}

.gray-tabs.nav-tabs.ui-border {
  border-bottom: 2px solid #fff;
}

.gray-tabs.nav-tabs.ui-border .nav-item::after {
  content: none;
}

.gray-tabs.nav-tabs.ui-border .nav-item {
  margin-bottom: 0;
}

@media only screen and (max-width: 573px) {
  .nav-tabs.tabs.mo-only {
    display: flex
  }
  .nav-tabs.tabs.mo-only .nav-link.active {
    margin-bottom: -1px;
  }
}

@media only screen and (max-width: 480px) {
  .gray-tabs.nav-tabs {
    margin-bottom: 1rem
  }
}

.pcoded-navbar .tab-content.tabs {
  height: calc(100vh - 64px);
}

.pcoded-navbar .tab-content.tabs .tab-pane {
  height: 100%;
}