/* breadcrumb */
.page-header-breadcrumb {
  .breadcrumb-title {
    display: flex;
    align-items: center;

    .breadcrumb-item {
      position: relative;

      a {
        font-size: 14px;
        color: $black3;
      }

      .fa-house {
        display: inline-block;
        font-size: 14px;
        color: $darkgray2;
        transform: translateY(-1px);
      }

      + .breadcrumb-item {
        margin-left: 32px;
        padding: 0;

        a {
          font-weight: 400;
        }

        &::before {
          content: '\f054';
          font-family: $fontawesome;
          font-weight: bold;
          font-size: 12px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -19px;
          padding: 0;
          color: $black3;
        }
      }
    }
  }
}

/* card */
.page-body {
  > .card {
    padding: 30px;
  }

  > [id] {
    //border-radius: 5px;
    //position: relative;
    //display: flex;
    //flex-direction: column;
    //min-width: 0;
    //word-wrap: break-word;
    //background-color: #fff;
    //background-clip: border-box;

    > .card {
      border-radius: 5px;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      padding: 30px;
    }

    + .card {
      margin-top: 40px;
    }
  }
}

.card {
  padding: 0;
  margin: 0;
  box-shadow: none !important;

  &.card-sm {
    padding: 20px;
  }

  .card-block-small {
    padding: 0;

    .card {
      box-shadow: none;

      + .card {
        position: relative;
        padding-top: 40px;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-image: url(../../../images/mng/kna/divider.svg);
          background-size: 1220px 2px;
          background-repeat: repeat-x;
          background-color: transparent;
        }
      }
    }

    .row + .row {
      margin-top: 20px;
    }
  }

  .card-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    h5 {
      font-weight: 500;
      font-size: 20px;
      color: $black2;
      line-height: 24px;

      strong {
        font-weight: 500;
        font-size: 20px;
        color: $black2;
      }
    }

    .btn-group {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      margin-left: auto;
    }

    i {
      margin-left: 4px;
      font-size: 9px;
      transform: translateY(-1px);
    }
  }

  + .card, + [id] {
    margin-top: 40px;
  }
}

.page-body > .row {
  margin-left: 0;
  margin-right: 0;
}

.row {
  --bs-gutter-x: 40px;
  --bs-gutter-y: 0;
}

/* talbe */
table.dataTable {
  margin: 0 !important;
}

/* pagination */
.jsgrid-pager-container {
  position: relative;
  margin-top: 20px;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-total {
    padding: 3px 0 0 !important;
  }

  .jsgrid-pager {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0;
  }

  .jsgrid-pager-page {
    position: relative;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $black3;
    text-decoration: none;
    background-color: $white;
    border: 0;
    border-radius: 3px;
    padding: 0 8.5px;

    a {
      display: block;
    }

    &.jsgrid-pager-current-page {
      background-color: $blue1;
      color: $white;
    }
  }

  .jsgrid-pager-nav-button {
    position: relative;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    text-decoration: none;
    background-color: #fff;
    border-radius: 3px;
    width: 24px;
    border: 1px solid #DDDDDD;

    a {
      display: block;
      padding: 0 8.5px;
    }

    i {
      font-size: 10px;
      color: $black3;
      transform: translateY(-1px);
    }

    &.jsgrid-pager-nav-inactive-button {
      opacity: .4;

      a {
        cursor: default;
      }
    }
  }

  .form-select {
    float: right;
    height: 30px;
    line-height: 28px;
    font-size: 14px !important;
    background-position: right 10px center;
  }
}

@media (max-width: 996px) {
  .jsgrid-pager-container {
    padding-bottom: 40px;

    .jsgrid-pager {
      //position: static;
      //transform: none;
      top: 40px;
    }
  }
}

.alert {
  width: 100%;
  padding: 30px;
  text-align: center;
  border-radius: 3px;
  border: solid 1px $gray4;
  background-color: $gray1;
  font-size: 15px;
  line-height: 18px;
  color: $black3;
  margin-bottom: 20px;

  .fa-circle-exclamation {
    margin-right: 8px;
  }
}

/* font size */
.small, small {
  font-size: 14px;
}

/* logo image */
.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: auto;
  max-height: 180px;
  border: 1px solid $gray4;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
@media (max-width: 996px) {
  .logo-img {
    + .img-file {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}

/* file label */
.label-group {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-wrap: wrap;
  margin-top: 10px;

  .label {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    border: 1px solid $grayBlue2;
    color: $grayBlue2 !important;
    font-size: 14px;
    gap: 12px;
    border-radius: 3px;
    padding: 0 8px;
    background-color: $blueGray2 !important;
    font-weight: 400;

    .close {
      color: $grayBlue2;
      padding: 0;
      margin: 0;
    }
  }
}

.font-15 {
  font-size: 15px !important;
}

.font-14 {
  font-size: 14px !important;
}

.color-black-2 {
  color: $black2 !important;
}

.color-black-3 {
  color: $black3 !important;
}

.border-top, .border-bottom, .border-start, .border-end {
  border-color: $gray4 !important;
}

.blank {
  padding: 40px;
  background-color: $gray1;
  border: 1px solid $gray4;
  border-radius: 3px;
}

hr.divider {
  background-image: url(../../../images/mng/kna/divider.svg);
  background-size: 1220px 2px;
  background-repeat: repeat-x;
  background-color: transparent;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  height: 1px;
  opacity: 1;
}

/* comment */
.comment-write {
  textarea.form-control {
    height: 60px;
  }

  .form-group {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.comment-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;

  .comment-info {
    display: flex;
    align-items: center;

    .name {
      font-size: 15px;
      line-height: 18px;
      color: $black2;
    }

    .date {
      margin-left: 12px;
      font-size: 14px;
      color: $black3;
      line-height: 17px;
    }
  }
}

.comment-read {
  .comment {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
}

.reply-read {
  border-top: 1px solid $gray4;
  margin-top: 20px;
  border-bottom: 1px solid $gray4;
  margin-bottom: 20px;

  .item {
    padding-left: 20px;
    padding-top: 20px;
    //border-top: 1px solid $gray4;

    .deco {
      margin-right: 12px;
    }

    .reply-content {
      font-size: 14px;
      color: $black2;
      line-height: 17px;
      padding-left: 24px;
      border-bottom: 1px solid $gray4;
      padding-bottom: 20px;
    }

    &:last-child {
      .reply-content {
        border-bottom: 0;
      }
    }

    &.item-inner {
      padding-left: 60px;

      .reply-content {
      }
    }
  }
}