body {
  font-family: 'Pretendard';
  color: $black1;
}

.pcoded-main-container {
  background-color: #f2f2f2;
}

.pcoded .pcoded-header[header-theme=theme1] {
  background-color: $white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.pcoded .pcoded-header .navbar-logo[logo-theme=theme1] {
  background-color: $white;
}

.header-navbar {
  min-height: 60px;
}

.header-navbar .navbar-wrapper .navbar-logo .mobile-menu {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 0;

  i {
    transition: .3s;
  }

  &.hide {
    i {
      transform: rotate(180deg);
    }
  }
}

.pcoded .pcoded-header[header-theme="theme1"] .navbar-logo a {
  color: $black1;
  font-size: 16px;
}

.pcoded .pcoded-header[header-theme="theme1"] a {
  color: $black1;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right {
  height: 60px;
  display: flex;
  gap: 20px;
  align-items: center;
  padding-right: 40px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .name {
  display: flex;
  align-items: center;
  gap: 2px;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right .btn-login {
  display: flex;
  align-items: center;
  gap: 4px;
  color: $black3;

  span {
    font-size: 14px;
    text-decoration: underline;
  }

  i {
    font-size: 13px;
    color: $darkgray3;
  }
}

.header-navbar .navbar-wrapper .navbar-container .nav-left,
.header-navbar .navbar-wrapper .navbar-container .nav-right {
  color: $black1;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right li {
  padding: 0;
  margin: 0;
}

.header-navbar .navbar-wrapper .navbar-container .nav-right li select {
  margin-top: 0;
  min-width: 134px;
}

/* lnb */
.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-header .pcoded-left-header, .pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar {
  width: 280px;
}

.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .pcoded-content {
  margin-left: 280px;
}

.pcoded-navbar {
  &[navbar-theme="theme1"] {
    background-color: $white !important;
  }

  .nav-tabs {
    &.tabs {
      border-bottom: 0;
      margin-bottom: 20px;
    }

    .nav-item {
      flex: 1;
      //border-bottom: 3px solid #2d3a51;

      + .nav-item {
        margin-left: 0;
      }
    }

    .nav-link {
      position: relative;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 0;
      height: 48px;
      background-color: $gray4;
      border-radius: 0;
      font-size: 15px;
      color: $black3;
      line-height: 20px;
      transition: color .1s ease-in-out, background-color .1s ease-in-out, border-color .1s ease-in-out;

      &.active {
        color: $black2;
        font-weight: bold;
        background-color: $white;

        &:hover {
          background-color: $white;
        }

        //&::after {
        //  content: '';
        //  position: absolute;
        //  bottom: -3px;
        //  left: 0;
        //  width: 100%;
        //  height: 3px;
        //  background-color: #fe8a7d;
        //}
      }
    }
  }
}

.main-menu {
  width: 100%;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .main-menu {
  background-color: transparent;
}

.pcoded .pcoded-navbar .pcoded-navigatio-lavel[menu-title-theme=theme5] {
  text-shadow: none;
  font-size: 15px;
  color: $black3 !important;

  span {
    font-size: 15px;
    font-weight: 500;
    color: $black3;
    transition: .3s;
  }

  i {
    font-size: 14px;
    color: $darkgray2;
    margin-right: 10px;
  }

  &::after {
    top: 50%;
    transform: translateY(-50%);
    content: "\2b";
    font-size: 12px;
    color: $darkgray2;
    font-weight: bold;
    font-family: 'Font Awesome 6 Free';
  }

  &:hover {
    i {
      color: $blue2;
    }

    span {
      font-weight: bold;
      color: $black2;
    }
  }

  &.active {
    i {
      color: $blue2;
    }

    span {
      font-weight: bold;
      color: $black2;
    }

    &::after {
      content: "\f068";
      font-weight: bold;
    }
  }
}

.pcoded .pcoded-navbar .pcoded-navigatio-lavel {
  padding: 13.75px 16px;
  cursor: pointer;
}

.pcoded {
  .pcoded-navbar {
    .pcoded-item {
      transform-origin: 10% 10%;
      transform-style: preserve-3d;
      transform: rotateX(-90deg);
      opacity: 0;
      visibility: hidden;
      position: absolute;
      width: 100%;
    }

    .pcoded-navigatio-lavel {
      position: relative;
      border-bottom: 0;

      &.active {
        + .pcoded-item {
          position: relative;
          padding: 8px 0;
          opacity: 1;
          visibility: visible;
          transform: rotateX(0deg);
          -webkit-transform: rotateX(0deg);
          transition: transform 0.5s, opacity 0.5s;
          background-color: $blueGray1;
        }

        &::after {
          content: '\f068';
          font-weight: 400;
          font-size: 12px;
          top: 27px;
        }
      }

      &::after {
        content: '\2b';
        position: absolute;
        right: 15px;
        top: 22px;
        font-size: 16px;
        font-family: $fontawesome;
      }
    }
  }
}

.pcoded .pcoded-navbar .pcoded-item > li > a > .pcoded-micon {
  //display: none;
  visibility: hidden;
  opacity: 0;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li > a {
  position: relative;
  color: $black2;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li.pcoded-hasmenu > a::before {
  content: '\f0da';
  font-family: $fontawesome;
  font-weight: bold;
  position: absolute;
  font-size: 10px;
  //height: 10px;
  top: 12px;
  left: 15px;
  border-left-style: solid;
  border-left-width: 0;
  border-left-color: transparent;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item>li>a {
  padding: 6.5px 15px;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item>li>a:before {
  height: auto;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li.pcoded-hasmenu:hover>a {
  color: $blue1;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a>.pcoded-mtext {
  word-break: break-all;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li > a:hover {
  background-color: transparent;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item > li > a:hover .pcoded-mtext {
  color: $blue1;
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item > li > a .pcoded-mtext {
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.pcoded[theme-layout="vertical"] .pcoded-navbar .pcoded-item li.pcoded-hasmenu>a:after {
  content: none !important;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.pcoded-trigger>a {
  background-color: transparent;
}

.pcoded .pcoded-navbar[navbar-theme=theme1] .pcoded-item > li.pcoded-hasmenu.pcoded-trigger > a::before {
  transform: rotate(90deg);
}

.pcoded .pcoded-navbar .pcoded-item>li.pcoded-hasmenu:hover {
  color: $blue1;
  background-color: transparent;
}

.pcoded .pcoded-navbar .pcoded-item>li.pcoded-hasmenu.pcoded-trigger > a {
  color: $blue1;
}

.pcoded .pcoded-navbar .pcoded-item>li.pcoded-hasmenu.pcoded-trigger > a > .pcoded-mtext {
  color: $black1;
  font-weight: bold;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.active:hover>a, .pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li:hover>a {
  background-color: transparent;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li.pcoded-hasmenu:hover>a {
  color: $blue1 !important;
}

.pcoded .pcoded-navbar .pcoded-item>li.pcoded-hasmenu:hover > a{
  color: $blue1 !important;
}

.pcoded .pcoded-navbar[navbar-theme=theme1] .pcoded-item > li > a {
  color: $black2;
  font-size: 14px;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li:hover>a {
  color: $blue1 !important;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu {
  background-color: transparent;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item li.pcoded-hasmenu .pcoded-submenu li>a {
  background-color: transparent;
  color: $black2;
  border: 0;
}

.pcoded[theme-layout="vertical"][vertical-nav-type="expanded"] .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a {
  padding-left: 48px;
  padding-right: 28px;
  background-color: transparent;
  color: $black2;
  font-weight: 400;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a:before {
  content: none;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a .pcoded-mtext:before {
  content: none !important;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item .pcoded-hasmenu .pcoded-submenu li>a .pcoded-mtext:before {
  border-bottom: 0;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item .pcoded-hasmenu .pcoded-submenu li:hover>a {
  background-color: transparent;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li .pcoded-submenu li.active>a, .pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item li .pcoded-submenu li:hover>a {
  color: $blue1 !important;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.active>a {
  background-color: transparent;
  color: $black1;
  font-weight: 400;
}

.pcoded .pcoded-navbar[navbar-theme="theme1"] .pcoded-item>li.pcoded-trigger.active>a {
  background-color: transparent;
}

.pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.pcoded-trigger>a:before, .pcoded .pcoded-navbar[active-item-theme="theme1"] .pcoded-item>li.active>a:before {
  border-left-color: transparent !important;
  height: auto;
}

/* 즐겨찾기 */
.pcoded-navbar .main-favorite-menu {
  padding: 4px 16px 0;
  overflow: hidden;
  scroll-behavior: smooth;

  .mCSB_inside > .mCSB_container {
    margin-right: 0;
  }

  .item {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;

    .buttons {
      display: flex;
      align-items: center;
      width: 44px;
      height: 20px;
      gap: 4px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: 1px solid $gray4;
        color: $darkgray3;
        width: 20px;
        height: 20px;
        background-color: transparent;

        &:hover {
        }

        &.disabled {
          cursor: default;
          color: $gray4;
        }
      }
    }

    .title {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: calc(100% - 44px);

      .btn-menu-remove {
        border: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 20px;
        height: 20px;
        color: $darkgray2;
        margin-right: 12px;
        background-color: transparent;
        font-size: 16px;
      }

      a {
        word-break: break-all;
        width: calc(100% - 12px - 20px);
        line-height: 18px;
        font-weight: 500;
        font-size: 15px;
        color: $black3;
        padding-right: 10px;
      }
    }
  }
}

/* contents */
.main-body {
  .page-wrapper {
    .page-header {
      margin-bottom: 40px;
    }
  }

  .page-header {
    .page-header-title {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      gap: 8px;

      h4 {
        font-size: 24px;
        line-height: 29px;
        font-weight: 500;
        color: $black1;
      }

      .btn-star {
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background-color: transparent;
        padding: 0;

        .fa-star {
          display: inline-block;
          float: none;
          border-radius: 0;
          font-size: 16px;
          margin-right: 0;
          color: $darkgray1;
          box-shadow: none;
          width: 100%;
          height: 100%;
        }

        &:focus {
          outline: none;
        }

        &.active {
          .fa-star {
            color: $orange2;

            &::before {
              content: '\f005';
              font-weight: bold;
            }
          }
        }
      }
    }

    .page-header-breadcrumb {
      display: block;
      float: none;
    }
  }
}

.pcoded-inner-content {
  padding: 0;
}

.main-body .page-wrapper {
  padding: 40px;
}

@media (max-width: 995px) {
  .main-body .page-wrapper {
    padding: 20px;
  }
}