$color_1: #222;
$color_2: #fff;
$color_3: #aaa;

$font-family_1: 'NanumSquare', sans-serif;
$background-color_1: #0046A5;
$background-color_2: #E97EBD;
$background-color_3: #E8E8DF;
$background-color_4: #0046A5;
$background-color_5: #03BE9F;
$background-color_6: #fff;

$background-color_nav: #fff;

$btn-close-bg: #1778FB;

$btn-fold-bg: #0046A5;
$btn-fold-color-bg: #fff;

$complete-bg: #cce4ff;
$complete-color: #2c53b9;
$working-bg: $background-color_2;
$working-color: #fff;
$edited-bg: $background-color_5;
$edited-color: #d0eef5;
$waited-bg: #ffd84c;
$waited-color: #222;