@charset "UTF-8";

* {
  font-family: $font-family_1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  all: initial;
}

.icon-dropdown {
  width: calc(100% - 20px);
  height: 30px;
  font-weight: 900;
  background-size: 30px;
  position: absolute;
  left: 0;
  top: 0;
  color: $color_1;
  padding: 0 10px;

  i {
    position: absolute;
    right: 10px;
    top: 10px;
    color: $color_2;
  }
}

.list-wrap.close {
  display: none;
}

.state {
  display: block;
  width: 40px;
  top: 6px;
  height: 22px;
  position: absolute;
  line-height: 23px;
  left: 3px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.waiting {
  background: $waited-bg;
  color: $waited-color !important;

  &::after {
    content: '대기중';
  }
}

.edited {
  background: $edited-bg;
  color: $edited-color !important;

  &::after {
    content: '수정';
  }
}

.complete {
  background: $complete-bg;
  color: $complete-color !important;

  &::after {
    content: '완료';
  }
}

.working {
  background: $working-bg;

  &::after {
    content: '진행중';
    color: $working-color !important;
  }
}

.tooltip {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
}